[Desktop Entry]
Name=GoBible
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/bin/gobibleswt
Icon=gobible
Terminal=false
Categories=GTK;Application;PIM
SingleInstance=true
StartupNotify=true
Categories=Office;
