[Desktop Entry]
Name=Bibledit-Gtk
Comment=Bible Editor
Icon=bibledit
Exec=bibledit-gtk
Type=Application
Categories=Office;
StartupNotify=true
NoDisplay=false

