<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  <title>Bibledit</title>
  <link href="bibledit.css" rel="stylesheet" type="text/css" />
</head>

<body>
<h2 id="bibledit">Bibledit</h2>

<p>Your backup is ready, and available at <a href="location">location</a>
(100 bytes).</p>

<p>Please keep it in a safe place or mail it to somebody.</p>

<p>View <a href="tempdir">all available backups</a>.</p>
</body>
</html>
