#ui_notifIt {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2000;
  overflow: hidden;
  border-radius: 5px;
  -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
     box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -wekbit-border-radius: 5px;
}
#ui_notifIt:hover {
  opacity: 1 !important;
}
#ui_notifIt p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
}
#notifIt_close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 5px;
  color: #FFF;
}
#notifIt_close:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
/* Color setup */
/* You are free to change all of this */
#ui_notifIt.success {
  background-color: yellowgreen;
  color: white;
}
#ui_notifIt.error {
  background-color: orangered;
  color: white;
}
#ui_notifIt.warning {
  background-color: orange;
  color: white;
}
#ui_notifIt.info {
  background-color: deepskyblue;
  color: white;
}
#ui_notifIt.default {
  background-color: #EEE;
  color: #444;
}
/* notifit confirm */
.notifit_confirm_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
.notifit_confirm * {
  font-family: sans-serif;
}
.notifit_confirm {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 30px 0 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #EEE;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.notifit_confirm_accept,
.notifit_confirm_cancel {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
}
.notifit_confirm_accept {
  background-color: #9ACD32;
}
.notifit_confirm_accept:hover {
  background-color: #ABDE43;
}
.notifit_confirm_cancel {
  background-color: #FF4500;
}
.notifit_confirm_cancel:hover {
  background-color: #FF5611;
}
.notifit_confirm_message {
  margin-bottom: 20px;
  text-align: center;
}
