[Desktop Entry]
Name=Bibledit-BibleTime
Comment=Bibledit BibleTime Interface
Icon=bibledit-bibletime
Exec=bibledit-bibletime
Type=Application
Categories=Office;

