#top {
position:relative;
top:0;
left:0;
visibility:visible;
clear:both;
background-color:#D3D3D3;
margin:none;
padding:1em;
}

#menu {
float:left;
width:200px;
background-color:#D3D3D3;
padding:1em;
}

#content {
position:relative;
top:0;
left:0;
margin-left:240px;
clear:both;
padding:1em;
}

#bottom {
position:relative;
top:0;
left:0;
clear:both;
}