[Desktop Entry]
Name=Bibledit
Comment=Bible Editor
Exec=bibledit.sh
Icon=bibledit
Terminal=false
Type=Application
Categories=GTK;GNOME;Office;
StartupNotify=true
NoDisplay=false
