[Desktop Entry]
Name=Bibledit-Xiphos
Comment=Bibledit Xiphos Interface
Icon=bibledit-xiphos
Exec=bibledit-xiphos
Type=Application
Categories=Office;

